<!-- <div class="column is-3">
<a href="#">
	<figure
	class="image is-2by1 work-item"
	style="background-image: url('https://picsum.photos/320/180?image=0');"
	></figure>
</a>
</div> -->

<!-- <div class="column is-3">
<a href="#">
	<figure
	class="image is-2by1 work-item"
	style="background-image: url('https://picsum.photos/320/180?image=10');"
	></figure>
</a>
</div> -->

<!-- <div class="column is-3">
<a href="#">
	<figure
	class="image is-2by1 work-item"
	style="background-image: url('https://picsum.photos/320/180?image=20');"
	></figure>
</a>
</div> -->

<!-- <div class="column is-3">
<a href="#">
	<figure
	class="image is-2by1 work-item"
	style="background-image: url('https://picsum.photos/320/180?image=30');"
	></figure>
</a>
</div> -->

<!-- <div class="column is-3">
<a href="#">
	<figure
	class="image is-2by1 work-item"
	style="background-image: url('https://picsum.photos/320/180?image=40');"
	></figure>
</a>
</div> -->

<!-- <div class="column is-3">
<a href="#">
	<figure
	class="image is-2by1 work-item"
	style="background-image: url('https://picsum.photos/320/180?image=50');"
	></figure>
</a>
</div> -->

<!-- <div class="column is-3">
<a href="#">
	<figure
	class="image is-2by1 work-item"
	style="background-image: url('https://picsum.photos/320/180?image=60');"
	></figure>
</a>
</div> -->

<!-- <div class="column is-3">
<a href="#">
	<figure
	class="image is-2by1 work-item"
	style="background-image: url('https://picsum.photos/320/180?image=70');"
	></figure>
</a>
</div> -->