<!-- Begin Scroll Up Button -->
<a href="#inicio">
	<button id="toTop" title="Go to top">
	  <i class="fas fa-angle-up"></i>
	</button>
</a>
<!-- End Scroll Up Button -->

<!-- Begin Header -->
<div class="header-wrapper" id="inicio">
	<!-- Begin Hero -->
	<section class="hero is-large">
	  <!-- Begin Mobile Nav -->
	  <nav class="navbar is-transparent is-hidden-desktop">
		<!-- Begin Burger Menu -->
		<div class="navbar-brand">
		  <div class="navbar-burger burger" data-target="mobile-nav">
			<span></span>
			<span></span>
			<span></span>
		  </div>
		</div>
		<!-- End Burger Menu -->
		<div id="mobile-nav" class="navbar-menu">
		  <div class="navbar-end">
			<div class="navbar-item">
			  <a class="navbar-item" href="#inicio">
				Inicio
			  </a>
			</div>
			<div class="navbar-item">
			  <a class="navbar-item" href="#acerca-de">
				Acerca de
			  </a>
			</div>
			<div class="navbar-item">
			  <a class="navbar-item" href="#eventos">
				Eventos
			  </a>
			</div>
			<div class="navbar-item">
			  <a class="navbar-item" href="#participa">
				Participa
			  </a>
			</div>
		  </div>
		</div>
	  </nav>
	  <!-- End Mobile Nav -->
	  <!-- Begin Hero Content-->
	  <div class="hero-body">
		<div class="container has-text-centered">
		  <h1 class="subtitle profession">Bienvenid@ a</h1>
		  <img src="assets/img/logo.png" class="logo">
		  <!-- <h2 class="title">TensorFlow León</h2> -->
		  <h1 class="subtitle">Grupo de usuarios de TensorFlow en León (MX)</h1>
		</div>
	  </div>
	  <!-- End Hero Content-->
	  <!-- Begin Hero Menu -->
	  <div class="hero-foot ">
		<div class="hero-foot--wrapper">
		  <div class="columns">
			<div class="column is-12 hero-menu-desktop has-text-centered">
			  <ul>
				<li class="is-active">
				  <a href="#inicio">Inicio</a>
				</li>
				<li>
				  <a href="#acerca-de">Acerca de</a>
				</li>
				<li>
				  <a href="#eventos">Eventos</a>
				</li>
				<li>
				  <a href="#participa">Participa</a>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- End Hero Menu -->
	</section>
	<!-- End Hero -->
  </div>
  <!-- End Header -->