<head>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="El sitio oficial del grupo de TensorFlow en León (MX).">
	<meta name="author" content="">

	<title>TensorFlow León</title>
	<link rel="shortcut icon" href="assets/img/tf.png">

	<!-- Bulma Version 0.8.x-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/showcase.css" />
  <script
    src="https://kit.fontawesome.com/2828f7885a.js"
    integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
    crossorigin="anonymous"
  ></script>
  <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>

</head>